CONFIG_KSU=y
CONFIG_KSU_NEXT=y
# CONFIG_KSU_DEBUG is not set
CONFIG_KSU_KPROBES_HOOK=y
# CONFIG_KSU_MANUAL_HOOK is not set
CONFIG_KPROBES=y
CONFIG_KRETPROBES=y
CONFIG_HAVE_KPROBES=y
CONFIG_KPROBE_EVENTS=y
CONFIG_HAVE_SYSCALL_TRACEPOINTS=y

CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_SUS_MAPS=y
CONFIG_KSU_SUSFS_SUS_PROC_FD_LINK=y
CONFIG_KSU_SUSFS_SUS_MEMFD=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
